{% extends "base.twig" %}

{% block hero %}
	<div class="hero">
    <div class="hero-left">
      <div class="hero-left__inner">
        <img class="hero-logo" src="{{theme.link}}/assets/logo-w-shadow.png">
      </div>
    </div>
    <div class="hero-content">
    <div class="hero-content__inner">
      {{post.content}}
      </div>
    </div>
	</div>
{% endblock %}

{% block content %}
  

  <div class="woocommerce">
    <div class="products-grid">
      {% for post in featured_products %}
        {% include ["partial/tease-product.twig"] %}
      {% endfor %}
    </div>
  </div>
  <div class="text-center mb-3">
    <a href="/shop" class="btn btn-primary">See Shop</a>
  </div>
{% endblock %}
