{% extends "base.twig" %}

{% block hero %}
	<div class="hero">
		<img class="hero-logo" src="{{theme.link}}/assets/logo-w-shadow.png">
	</div>
{% endblock %}

{% block content %}
  <div class="woocommerce">
    <div class="products-grid">
      {% for post in featured_products %}
        {% include ["partial/tease-product.twig"] %}
      {% endfor %}
    </div>
  </div>
  <div class="text-center mb-3">
    <a href="/shop" class="btn btn-primary">See Shop</a>
  </div>
{% endblock %}
