<div {{ fn('post_class', 'tease-product') }}>
{{ fn('timber_set_product', post) }}

  {% if post.thumbnail %}
      <img src="{{ post.thumbnail.src|resize(shop_thumbnail_image_size) }}" />
  {% endif %}


  {% do action('woocommerce_before_shop_loop_item_title') %}

  <div class="details">

    <h5 class="title">{{post.title}}</h5>

    {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
    {% do action( 'woocommerce_after_shop_loop_item' ) %}
  </div>


</div>