.hero
  background-image: url('../../assets/hero-bg.jpg')
  background-position: center bottom
  background-size: cover
  display: flex
  align-items: center
  justify-content: center
  padding: 2rem
  max-height: 50vh
  height: 100%