// move the navbar down for logged in users
.logged-in .navbar.fixed-top
  top: 32px  

.navbar.bg-transparent
  background-image: linear-gradient(to bottom, rgba(black, 0.9) 0%, rgba(black, 0) 100%)  


.navbar-dark .navbar-nav .nav-link
  color: #fff

.navbar .current-menu-item .nav-link
  color: $primary
  font-weight: 600
